<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Brandon Vielmas</h1>

  <ion-card color="primary">
    
    <ion-card-header>
      <ion-card-title>Dinero disponible</ion-card-title>
      <ion-card-subtitle>Finsap</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col
            offset="6"
            offset-md="4"
            offset-lg="2"
          >
            <h2 style="padding-left: 15px;">$5556.45</h2>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </ion-card>

</ion-content>